apscheduler>=3.11.0,<4.0
aws-requests-auth>=0.4.3
boto3>=1.40.59
cffi>=2.0.0
croniter>=6.0.0
elasticsearch==7.10.1
envparse>=0.2.0
exotel==0.1.5
Jinja2>=3.1.6
jira>=3.10.5
jsonpointer>=3.0.0
jsonschema>=4.25.1
prettytable>=3.16.0
prison>=0.2.1
prometheus-client>=0.23.1
python-dateutil>=2.9.0.post0
PyYAML>=6.0.3
py-zabbix>=1.1.7
requests>=2.32.5
sortedcontainers>=2.4.0
statsd-tags==3.2.1.post1
stomp.py>=8.2.0
tencentcloud-sdk-python>=3.0.1479
texttable>=1.7.0
twilio>=9.8.4
